name: 'json_dynamic_widget_plugin_svg'
description: 'A plugin to the JSON Dynamic Widget to provide SVG support to the widgets'
homepage: 'https://github.com/peiffer-innovations/json_dynamic_widget_plugin_svg'
version: '3.0.2+4'

environment: 
  sdk: '>=3.0.0 <4.0.0'

analyzer: 
  exclude: 
    - 'lib/generated/**'
    - 'lib/**/*.g.dart'


dependencies: 
  child_builder: '^2.0.1'
  flutter: 
    sdk: 'flutter'
  flutter_svg: '^2.0.7'
  json_class: '^2.2.2+1'
  json_dynamic_widget: '^6.0.6+6'
  json_theme: '^6.0.2+3'
  logging: '^1.2.0'
  meta: '^1.7.0'
  uuid: '^3.0.7'
  websafe_svg: '^3.0.1+1'

false_secrets: 
  - 'example/web/index.html'

dev_dependencies: 
  flutter_test: 
    sdk: 'flutter'


ignore_updates: 
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
